/*
 * CSS File - Enrico Silvano
 */

/*
 * MAIN container
 */
#MAINcontainer
{
	background-color: #FF0000;
}

/*
 * Utilizzato per la creazione della mppa
 */
.npctable, .itemtable, .npcdetailtable, .droptable, .itemdetailtable, .templatetable
{
	background-image: url(../images/bg2.jpg);
	border: solid;
	border-collapse: collapse;
	border-color: #0066b9;
	border-width: 1px;
	color: #000000;
}
.npctable td, .itemtable td, .npcdetailtable td, .droptable td, .itemdetailtable td, .templatetable td
{
	border: solid;
	border-collapse: collapse;
	border-color: #0066b9;
	border-width: 1px;
	padding: 6px;
}
.npctable a, .itemtable a, .npcdetailtable a, .itemdetailtable a, .droptable a, .templatetable a
{
	color: #0066b9;
	font-family: Verdana;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}

/*
 * Text Decorations: link, visited, hover
 */
A:link
{
    	color: #0066b9;
	font-family: Verdana;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	text-decoration: underline;
}
A:visited
{
	color: #1B83D9;
	text-decoration: underline;
}
A:hover
{
	color: #FF0000;
}
/* decorazione 1 */
span.dec1 
{
        font-style: italic;
	font-weight: bold;
	}
        
        /* decorazione 2 */
span.dec2 
{
	font-weight: bold;
        text-decoration: none;
	}
        
                /* decorazione 3 */
span.dec3 
{
	font-weight: bold;
        text-decoration: none;
        background-color: #088A08;
        color: #FFFFFF;
	}
        
        
        span.dec3 
{
	font-weight: bold;
        text-decoration: none;
        background-color: #088A08;
        color: #FFFFFF;
	}
        
        
                /* mappa */
#mappa
{
	position:absolute;
        top:0px;
        left:0px;
	}
        
                        /* scrittamenu */
#scrittaCAP
{
    text-align: left;
    	font-family: Verdana;
	font-size: 19px;
		font-weight: bold;
	}
        
                                /* scrittamenu */
#scrittaDESC
{
    text-align: left;
    	font-family: Verdana;
	}
        
                                        /* scrittamenu */
#scrittaLOGINBACK
{
    text-align: left;
    font-size: 19px;
		font-weight: bold;
        color: #FF0000;
        text-decoration: underline;
	}
        
        #scrittaDOCUMENTAZIONE
{
    text-align: center;
    font-size: 19px;
		font-weight: bold;
	}
        
                .scrittaLOGO
{
    text-align: center;
	}
        

        
        
.tabella { 
    display: table; 
        width: 70%;
        margin-left:15%; 
        margin-right:15%;         
	border: solid;
	border-collapse: collapse;
	border-color: #0066b9;
	border-width: 1px;
	color: #000000;
        background-image: url(../images/bg2.jpg);
        background-color: #FF8000;
}

.tabellapiccola { 
    display: table; 
        width: auto;
        margin-left:auto; 
        margin-right:auto; 
	border: solid;
	border-collapse: collapse;
	border-color: #0066b9;
	border-width: 1px;
	color: #000000;
        background-image: url(../images/bg2.jpg);
        background-color: #FF8000;
}


.border { 

        margin-left:6px; 
        margin-right:6px;  
        margin-top:6px;
        margin-bottom:6px;

}




.rigatr { 

    display: table-row;
    background-color: #2ECCFA;
}


.colonnatd75 {
    width: 75%;
text-align: left;
vertical-align: top;
           display: table-cell;
           border-collapse:collapse;
      
	border: solid;
	border-collapse: collapse;
	border-color: #0066b9;
	border-width: 1px;
        
        background-color: #38610B;
        


}
.colonnatd25 {
    
    width: 25%;
text-align: left;
vertical-align: top;
           display: table-cell;
           border-collapse:collapse;
      
	border: solid;
	border-collapse: collapse;
	border-color: #0066b9;
	border-width: 1px;
background-color: #5E610B;
}